.App {
  text-align: center;
}

.pocky {
  height: 100%;
  padding: 20px 20px 65px;
}
.pocky:hover {
    transform: rotate(3deg);
}

.title {
    color: coral;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
