.App {
  text-align: center;
  font-size: 30px;
  color: mediumturquoise;
}
@media only screen and (max-width: 500px){
    .App {
        font-size: 26px;
    }
}

.active-app {
    color: coral;
}
.app-switcher {
    font-size: 30px;
    text-align: center;
    background: gray;
    color: white;
    text-transform: uppercase;
}

.app-button {
    display: inline-block;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.footer {
    color: coral;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.4s ease-in-out;
}
.footer a {
    color: coral;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.footer a:hover {
    color: mediumturquoise;
    text-decoration: none;
}

.header {
  text-align: center;
  font-size: 30px;
  color: mediumturquoise;
  margin: 30px;
  max-width: 100%;
}
