.App {
  text-align: center;
  font-size: 30px;
  color: mediumturquoise;
}
@media only screen and (max-width: 500px){
    .App {
        font-size: 26px;
    }
}

.pocky {
  height: 100%;
  padding: 20px 20px 65px;
  animation-duration: 4s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}
.pocky:hover {
    transform: rotate(3deg);
}
@media only screen and (max-width: 500px){
    .pocky {
        width: 70%;
    }
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.item {
    height: 100%;
    padding: 20px;
    display: inline-block;
    animation-duration: 3s;
    animation-name: wiggle;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

.button {
    border-radius: 50%;
    background-color: pink;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 30px;
    outline: none;
    font-family: 'VT323', monospace;
    transition: all 0.4s ease-in-out;
}

.button:hover {
    background-color: mediumturquoise;
}

.title {
    color: coral;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
}

.footer {
    color: coral;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.4s ease-in-out;
}
.footer a {
    color: coral;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.footer a:hover {
    color: mediumturquoise;
    text-decoration: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
