.todolist {
    display: block;
    margin: auto;
    width: 300px;
    background-color: Seashell;
    box-shadow: 10px 10px 3px #888888;
    padding-top: 30px;
    margin-top: 30px;
    padding: 20px;
    border-style:groove;
    border-radius: 10px;
}

@media only screen and (max-width: 500px){
    .todolist {
        max-width: 90%;
        width: 60%;
    }
}

.todo-items {
    font-family: 'Homemade Apple', cursive;
}

.todo-items ul {
    list-style: initial;
}

.to-do-list-title {
    font-family: 'Geostar Fill', cursive;
    text-align: center;
    font-size: 30px;
}

.todo-input {
    font-size: 16px;
    height: 20px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #333;
    border-radius: 3px;
    margin-right: 5px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

@media only screen and (max-width: 500px){
    .todo-input {
        width: 70%;
    }
}

.todo-input:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.add-todo {
    background-color: DarkCyan;
    border: none;
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid Brown;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease;
    font-family: 'Geostar Fill', cursive;
}
