.eggo {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: red;
    text-shadow: 1px 1px 2px black, 3px 3px 5px white;
    background: #f2cc35;
}

.eatenEggo {
    display: block;
    text-align: center;
}

.item-eggo {
    height: 100%;
    padding: 40px;
    display: inline-block;
    animation-duration: 20s;
    animation-name: wiggle-eggo;
    animation-iteration-count: infinite;
}

@keyframes wiggle-eggo {
    0% {
        transform: rotate(-360deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.reset-button {
    border-radius: 10%;
    background-color: GoldenRod;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 40px;
    outline: none;
    font-family: 'Pacifico', cursive;
    transition: all 0.2s ease-in-out;
}

.reset-button:hover {
    background-color: red;
}
