.gifs {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
}

.gifs img {
    max-width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px){
    .gifs img {
        max-width: 100%;
    }
}
