.eightball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
    background-color: #fb6565;
    border-radius: 50%;
    height: 300px;
    margin-top: 40px;
    box-shadow: 15px 15px 10px DarkGrey, inset -25px -25px 40px rgba(150,0,3,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    animation-name: up-down;
    margin-bottom: 20px;
}

.eightball-inner-circle {
    display: block;
    width: 120px;
    margin: auto;
    background-color: CornSilk;
    border-radius: 50%;
    height: 120px;
    text-align: center;
}

.eightball-inner-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: auto;
    background-color: #0d2142;
    border-radius: 50%;
    height: 120px;
    text-align: center;
}

.eightball-text {
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    font-size: 110px;
    -webkit-filter: opacity(90%); /* Safari */
    filter: opacity(90%);
}

.up-down {
    transition: all 0.2s ease;
    animation-name: up-down;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}

.answers {
    text-align: center;
    color: white;
    width: 100px;
    animation-name: fadein;
    animation-duration: 4s;
    animation-iteration-count: 1;
    text-shadow: 0 0 0 rgba(255,255,255,1);
}

@keyframes fadein {
    0% {
    color: rgba(255,255,255,0);
    text-shadow: 0 0 50px rgba(255,255,255,1);
    }
}

@keyframes up-down {
        0%, 100% {
            transform: translate3d(0,0,0);
        }
        50% {
            transform: translate3d(3px,10px,0);
        }
    }
