.ff-box {
    border-color: #740001;
    background: #ae0001;
    border-radius: 25%;
    border-top: 1px solid #740001;
    border-bottom: 1px solid #740001;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3), 0 1px 3px #740001, inset 0 1px 3px white, inset 0 -4px 5px #890406;
    width: 320px;
    height: 400px;
    margin: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    padding-bottom: 10;
}

.ff-screen {
       display: block;
       background: #a9c197;
       text-align: center;
       border: 3px solid #444;
       padding: 5px;
       padding-top: 5px;
       border-radius: 10px;
       margin: 40px 20px 18px 35px;
       box-shadow: inset 3px 3px 2px rgba(0,0,0,0.3), 1px 1px 1px grey, 0 -1px 2px white;
       height: 160px;
       width: 230px;
   }

.gg-screen-text {
    text-align: left;
    font-size: 16px;
    text-shadow: 2px 2px grey;
    width: 231px;
    height: 155px;
}

.gg-text {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.gg-button-up {
    cursor: pointer;
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
    background: none;
    border: none;
    border-radius: 50%;
    background: Gold;
    box-shadow: inset 0 3px 5px Goldenrod, 0 1px 3px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 260px;
    left: 138px;
}

.gg-button-down {
    cursor: pointer;
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
    background: none;
    border: none;
    border-radius: 50%;
    background: Gold;
    box-shadow: inset 0 3px 5px Goldenrod, 0 1px 3px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 340px;
    left: 138px;
}

.gg-button-left {
    cursor: pointer;
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
    background: none;
    border: none;
    border-radius: 50%;
    background: Gold;
    box-shadow: inset 0 3px 5px Goldenrod, 0 1px 3px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 30px;
    height: 30px;
    display: block;
    top: 301px;
    left: 95px;
    position: absolute;
}

.gg-button-right {
    cursor: pointer;
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
    background: none;
    border: none;
    border-radius: 50%;
    background: Gold;
    box-shadow: inset 0 3px 5px Goldenrod, 0 1px 3px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 30px;
    height: 30px;
    display: block;
    top: 301px;
    left: 180px;
    position: absolute;
}

.ff-title {
    text-transform: uppercase;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.5), 0 -1px 1px black;
    font-size: 36px;
    margin-left: 20px;
    font-family: 'New Rocker', cursive;
    line-height: 36px;
    color: 	#d3a625;
    text-emphasis-color: #000000;
    top: 219px;
    left: 10px;
    position: absolute;
}

.ff-title-small {
    vertical-align: middle;
    margin-top: 10px;
    text-transform: lowercase;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.5), 0 -1px 1px black;
    font-size: 18px;
    text-align: left;
    margin-left: -5px;
    font-family: 'Patrick Hand SC', cursive;
    padding-left: 10px;
    line-height: 18px;
    color: 	#d3a625;
    text-emphasis-color: #000000;
}

.gg-brand-text {
    font-family: 'Delius', cursive;
    text-transform: uppercase;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.5), 0 -1px 1px white;
    font-size: 10px;
    line-height: 10px;
}

.gg-speakers {
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    padding: 1px 1px;
    background: none;
    border: none;
    border-radius: 50%;
    background: DarkGrey;
    box-shadow: inset 0 3px 5px DarkGrey, 0 1px 1px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 1px;
    height: 1px;
    display: block;
    top: 350px;
    left: 250px;
    position: absolute;
}


.ff-text-description {
    text-align: center;
    font-size: 24px;
}

.grid {

}

.row {

}

.cell {
    display: inline-block;
    width: 23px;
    height: 24px;
}
