.blush-arm {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: polish;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.blush-body {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes polish {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(3px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.blush {
    width: 404px;
    height: 580px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
