.kitty {
    display: block;
    margin: auto;
    width: 360px;
    max-width: 100%;
}

@media only screen and (max-width: 500px){
    .kitty, .kitty img {
        max-width: 100%;
    }
}


.dice {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
