.pepper {
    background: DarkCyan;
    border-radius: 50%;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.bubble {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 55%;
}
