.pepper {
    background: DarkCyan;
    border-radius: 50%;
    width: 300px;
    height: 400px;
    margin: auto;
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
    cursor: pointer;
}

.bubble {
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 65%;
}

.pepper-words {
    position: absolute;
    top: 26px;
    left: 71px;
    width: 226px;
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width: 500px){
    .pepper img {
        max-width: 100%;
    }
    .pepper {
        margin-top: 120px;
    }
    .bubble {
        top: -100px;
        left: 20px;
    }
    .pepper-words {
        position: absolute;
        top: 17px;
        left: 33px;
        width: 192px;
        font-size: 18px;
    }
}
