.pepper {
    background: DarkCyan;
    border-radius: 50%;
    width: 300px;
    height: 400px;
    margin: auto;
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
}

.bubble {
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 65%;
}
