.gamegal {
    border-color: DarkTurquoise;
    background: Turquoise;
    border-radius: 10%;
    border-top: 1px solid MediumTurquoise;
    border-bottom: 1px solid DarkTurquoise;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3), 0 1px 3px DarkTurquoise, inset 0 1px 3px white, inset 0 -4px 5px MediumTurquoise;
    width: 325px;
    height: 400px;
    margin: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    padding-bottom: 10;
}

.gg-screen {
       display: block;
       background: #a9c197;
       text-align: center;
       border: 3px solid #444;
       padding: 10px;
       padding-top: 20px;
       border-radius: 10px;
       margin: 20px 10px 18px 35px;
       box-shadow: inset 3px 3px 2px rgba(0,0,0,0.3), 1px 1px 1px grey, 0 -1px 2px white;
       height: 155px;
       width: 230px;
   }

.gg-screen-text {
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px grey;
}

.gg-text {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.gg-button-a {
    cursor: pointer;
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
    background: none;
    border: none;
    border-radius: 50%;
    background: Gold;
    box-shadow: inset 0 3px 5px Goldenrod, 0 1px 3px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 225px;
}

.gg-button-b {
    cursor: pointer;
    text-shadow: 1px 1px grey;
    outline: none;
    color: #333;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
    background: none;
    border: none;
    border-radius: 50%;
    background: Gold;
    box-shadow: inset 0 3px 5px Goldenrod, 0 1px 3px black;
    border-top: 1px solid #222;
    color: BlanchedAlmond;
    transition: all 0.2s ease;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 180px;
}

.gg-title {
    text-transform: uppercase;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.5), 0 -1px 1px white;
    font-size: 40px;
    text-align: left;
    margin-left: 30px;
    font-family: 'Modak', cursive;
    line-height: 20px;
    color: DarkOrchid;
    text-emphasis-color: #048d8f;
}

.gg-brand-text {
    font-family: 'Delius', cursive;
    text-transform: uppercase;
    text-shadow: 0 -1px 2px rgba(255,255,255,0.8), 0 1px 2px rgba(0,0,0,0.5), 0 -1px 1px white;
    font-size: 10px;
    line-height: 10px;
}
